h1 {
    border: solid;
    width: 300px;
    height: 50px;
    background-color: white;
}
img {
    border : solid;
    border-color: black;
    border-radius: 25px;
    background-color: white;
}
.bodyimg {
    position: relative;
    text-align: center;
    color: white;
}
.bodyimg img {
    border-radius: 0px;
}
.txt {
    position: absolute;
}
.footer {
    display : flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
body {
    background-color: #F5F1F0;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.origami {
    background-color: white;
}
a:link {
    color : white;
}
a:visited {
    color : white;
}
.cicada {
    margin-top: 20px;
}
/* {
    border : solid;
}